pg_database:
  query: "SELECT pg_database.datname, pg_database_size(pg_database.datname) as size_bytes FROM pg_database"
  master: true
  cache_seconds: 30
  metrics:
    - datname:
        usage: "LABEL"
        description: "Name of the database"
    - size_bytes:
        usage: "GAUGE"
        description: "Disk space used by the database"

pg_replication:
  query: "SELECT slot_name, active, pg_wal_lsn_diff(pg_current_wal_lsn(), restart_lsn) AS lag FROM pg_replication_slots;"
  master: true
  metrics:
    - slot_name:
      usage: "LABEL"
      description: "Name of replication slot"
    - active:
      usage: "LABEL"
      description: "Whether the replication slot is active"
    - lag:
        usage: "GAUGE"
        description: "Replication lag in bytes"
