name: Release

on:
  create:

jobs:
  release:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest
    # env:
    #   DOCKER_BUILDKIT: 0
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          version: v0.9.1
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      -
        name: "Fetch latest tag"
        id: get-latest-tag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
      -
        name: Build and push Postgres 16
        id: docker_build_16
        uses: docker/build-push-action@v3
        with:
          build-args: |
            PG_VERSION=16.1
            PG_MAJOR_VERSION=16
            VERSION=${{ steps.get-latest-tag.outputs.tag }}
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/groguelon/postgres-flex:16
            ghcr.io/groguelon/postgres-flex:16.1
      -
        name: Build and push Postgres 16 Timescale DB
        id: docker_build_16_timescaledb
        uses: docker/build-push-action@v3
        with:
          build-args: |
            PG_VERSION=16.1
            PG_MAJOR_VERSION=16
            VERSION=${{ steps.get-latest-tag.outputs.tag }}
          context: .
          file: ./Dockerfile-timescaledb
          push: true
          tags: |
            ghcr.io/groguelon/postgres-flex-timescaledb:16
            ghcr.io/groguelon/postgres-flex-timescaledb:16.1
      -
        name: Postgres 16 Image digest
        run: echo ${{ steps.docker_build_16.outputs.digest }}
      -
        name: Postgres 16 TimescaleDB Image digest
        run: echo ${{ steps.docker_build_16_timescaledb.outputs.digest }}
