name: Release

on:
  create:

jobs:
  release:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    runs-on: ubuntu-latest

    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: v0.9.1
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      -
        name: "Fetch latest tag"
        id: get-latest-tag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
      -
        name: Build and push Postgres 15
        id: docker_build_15
        uses: docker/build-push-action@v6
        with:
          build-args: |
            PG_VERSION=15.14
            PG_MAJOR_VERSION=15
            VERSION=${{ steps.get-latest-tag.outputs.tag }}
          context: .
          file: ./pg15/Dockerfile
          push: true
          tags: |
            flyio/postgres-flex:15
            flyio/postgres-flex:15.14
      -
        name: Build and push Postgres 15 Timescale DB
        id: docker_build_15_timescaledb
        uses: docker/build-push-action@v6
        with:
          build-args: |
            PG_VERSION=15.14
            PG_MAJOR_VERSION=15
            VERSION=${{ steps.get-latest-tag.outputs.tag }}
          context: .
          file: ./pg15/Dockerfile-timescaledb
          push: true
          tags: |
            flyio/postgres-flex-timescaledb:15
            flyio/postgres-flex-timescaledb:15.14

      -
        name: Build and push Postgres 16
        id: docker_build_16
        uses: docker/build-push-action@v6
        with:
          build-args: |
            PG_VERSION=16.10
            PG_MAJOR_VERSION=16
            VERSION=${{ steps.get-latest-tag.outputs.tag }}
          context: .
          file: ./pg16/Dockerfile
          push: true
          tags: |
            flyio/postgres-flex:16
            flyio/postgres-flex:16.10
      -
        name: Build and push Postgres 16 Timescale DB
        id: docker_build_16_timescaledb
        uses: docker/build-push-action@v6
        with:
          build-args: |
            PG_VERSION=16.10
            PG_MAJOR_VERSION=16
            VERSION=${{ steps.get-latest-tag.outputs.tag }}
          context: .
          file: ./pg16/Dockerfile-timescaledb
          push: true
          tags: |
            flyio/postgres-flex-timescaledb:16
            flyio/postgres-flex-timescaledb:16.10

      -
        name: Build and push Postgres 17
        id: docker_build_17
        uses: docker/build-push-action@v6
        with:
          build-args: |
            PG_VERSION=17.6
            PG_MAJOR_VERSION=17
            VERSION=${{ steps.get-latest-tag.outputs.tag }}
          context: .
          file: ./pg17/Dockerfile
          push: true
          tags: |
            flyio/postgres-flex:17
            flyio/postgres-flex:17.6
      -
        name: Build and push Postgres 17 Timescale DB
        id: docker_build_17_timescaledb
        uses: docker/build-push-action@v6
        with:
          build-args: |
            PG_VERSION=17.6
            PG_MAJOR_VERSION=17
            VERSION=${{ steps.get-latest-tag.outputs.tag }}
          context: .
          file: ./pg17/Dockerfile-timescaledb
          push: true
          tags: |
            flyio/postgres-flex-timescaledb:17
            flyio/postgres-flex-timescaledb:17.6


      -
        name: Postgres 15 Image digest
        run: echo ${{ steps.docker_build_15.outputs.digest }}
      -
        name: Postgres 15 TimescaleDB Image digest
        run: echo ${{ steps.docker_build_15_timescaledb.outputs.digest }}
      -
        name: Postgres 16 Image digest
        run: echo ${{ steps.docker_build_16.outputs.digest }}
      -
        name: Postgres 16 TimescaleDB Image digest
        run: echo ${{ steps.docker_build_16_timescaledb.outputs.digest }}
      -
        name: Postgres 17 Image digest
        run: echo ${{ steps.docker_build_17.outputs.digest }}
      -
        name: Postgres 17 TimescaleDB Image digest
        run: echo ${{ steps.docker_build_17_timescaledb.outputs.digest }}
